<<<<<<< HEAD
.page1 {
  font-size: 25px;
  color: blue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page3 {
  font-size: 50px;
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page10 {
  font-size: 25px;
  color: wheat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
=======
li {
  color: blue;
  font-weight: 100;
>>>>>>> 95d7d073264340fdc518ef32ca689b6baed7a042
}
