.page1 {
  font-size: 25px;
  color: blue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page3 {
  font-size: 50px;
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.page4 {
  font-size: 25px;
  color: wheat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
